.site {
	&Title {
		color: #5ccfe6;
		font-size: 2.5rem;
		@media screen and (max-width: 480px) {
			font-size: 1.2rem;
		}

		a {
			background-color: #ecf0f2;
			padding: 10px 12px;
			border-radius: 8px;
		}
	}
}
