.navigation {
  display: flex;
  margin-left: 2rem;
  
  a {
      display: block;
      padding: 3rem 1.6rem 2.6rem;
      font-weight:600;
      font-family: 'Asap', sans-serif;
      font-size: var(--font-24);
      color: var(--color-white);
      will-change: color;
      transition: color 0.3s linear;

      &:hover {
        color: var(--color-second);
      }
  }
}