.article{
    &Title a{
        color:  #5ccfe6;
    }
    &Header {
        margin-bottom: 1em;
    }
}

a {
    color: #5ccfe6;
}

.category {
    margin-left: 10px;
    line-height: 1.5;
    display: inline-block;
    background: #ecf0f2;
    padding: 2px 5px;
    border-radius: 5px;
}
